html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f2ef;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.hero {
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../public/img/undraw_books_re_8gea.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.option {
  padding: .6rem;
  font-size: 1rem;
}

.correct-answear {
  background-color: green !important;
  color: #ffff !important;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: orange;
  color: #666666;
}


.correct-answear:hover {
  background-color: green !important;
  color: #ffff !important;
}

.wrong-answear {
  background-color: red !important;
  color: #ffff !important;
}

.wrong-answear:hover {
  background-color: red !important;
  color: #ffff !important;
}